@font-face {
    font-family:'Fredo';
    src:url("fonts/fredo-regular-webfont.woff2") format("woff2"),url("fonts/fredo-regular-webfont.woff") format("woff");
    font-weight:400;
    font-style:normal
}

body {
    position:relative;
    font-family:"Fredo",sans-serif;
    font-size:1rem;
    font-weight:400;
    line-height:1.5;
    padding:0 1rem;
    max-width:50rem;
    margin:0 auto
}

img {
    margin: auto;
}
